/* @import 'font-awesome/css/font-awesome.min.css'; */
@import './assets/sass/themify-icons.css';
@import './assets/sass/paper-dashboard/paper-dashboard.css';

@import "./assets/sass/bootstrap-overrides";
@import "./assets/sass/bootstrap-custom";

/* @import 'react-redux-toastr/src/styles/index.scss';
@import './assets/sass/toastr-animations';
@import './assets/sass/toastr-overrides';

@import "./assets/sass/address";
@import "./assets/sass/alert";
@import "./assets/sass/animation";
@import "./assets/sass/button";
@import "./assets/sass/card";
@import "./assets/sass/case-details";
@import "./assets/sass/case-list";
@import "./assets/sass/dropdown";
@import "./assets/sass/form";
@import "./assets/sass/footer";
@import "./assets/sass/label";
@import './assets/sass/loading';
@import "./assets/sass/loading-lines";
@import "./assets/sass/modal";
@import "./assets/sass/pagination";
@import "./assets/sass/progress";
@import "./assets/sass/navbar";
@import "./assets/sass/star";
@import "./assets/sass/style";
@import "./assets/sass/table";
@import "./assets/sass/well"; */

@import url(https://fonts.googleapis.com/css?family=Nunito:400,700);
@import url(https://fonts.googleapis.com/css?family=Space+Mono:400);

.main-panel {
  overflow: auto;
}

.sidebar {
  background-color: rgba(31, 31, 31, 1);
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #050505;
}

/* delete this later*/
.special-icon {
  height: 30px;
  position: relative;
  left: -15px;
  top: -5px;
  width: 30px;
}

/* delete this later*/
@media (min-width: 768px) {
.modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
}

.page-enter, .page-leave {
  position: absolute;
  -webkit-transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
  transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
}

.page-enter {
  left: 100vw;
}

.page-enter.page-enter-active {
  -webkit-transform: translate3d(-100vw, 0, 0);
  transform: translate3d(-100vw, 0, 0);
}

.page-leave {
  left: 0;
}

.page-leave.page-leave-active {
  -webkit-transform: translate3d(-100vw, 0, 0);
  transform: translate3d(-100vw, 0, 0);
}

.page-height {
  height: 330px !important;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn,
.btn:disabled,
.btn.btn-disabled,
.btn-primary:disabled,
.btn-primary[disabled],
.btn-primary.disabled {
  background: rgba(100, 100, 100, 0.7) !important;
  opacity: 1;
}

.btn {
  border: none;
}

.btn-text:hover {
  background: rgba(100, 100, 100, 0.2) !important;
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}
